<%- include('../partials/header') %>
  
 
 
<img class="aboutpic" src="images/desktop.jpg" alt="My picture" style="width:500px;height:500px;">
      <p class="abouttext">Hi my name is Alejandro Bravo-vasquez</p>
      <p class="abouttext">I am 28 years old and I am an aspiring Software Developer</p>
       <p class="abouttext"> I was born in sacramento california and moved to seattle were i was raised!   </p>
      <p class="abouttext"> I am finishing up my bachelors degree in 6 months in software engineering!</p>
<%- include('../partials/footer') %>