<%- include('../partials/header') %>
<img class="funfactspic" src="images/tablet.jpg" alt="My picture" style="width:500px;height:500px;">
      <p class="funfactstext">Fun Fact about me is that I use to be a mechanic and loved working on cars!</p>
      <p class="funfactstext">I also have two dogs who are my best friends! Meet Roxy on the right and Bean the tiny one!</p>
  
<%- include('../partials/footer') %>