<%- include('../partials/header') %>


<img class="hobbypic" src="images/stock.jpg" alt="My picture" style="width:500px;height:500px;">
      <p class="hobbytext">One major hobby of mine is trading in the stock market!</p>
      <p class="hobbytext">I have been interested in investing for a few years already!</p>
      <p class="hobbytext">Its constant learning just like coding, i love it!</p>
  
<%- include('../partials/footer') %>