<%- include('../partials/header') %>
  
  <h1><%=title%></h1>
 
<p class="homeText">This page is about setting up an Express server on port 3000. It defines routes for various URLs, renders EJS templates with dynamic data, and serves static files. The server's behavior is tailored to the specified routes, rendering appropriate templates and providing data from the JSON file when necessary.</p>
  
<%- include('../partials/footer') %>